

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #7D7E80;
}


header{
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    box-shadow: 0 0 1rem black;
}

ul{
    display: flex;
    margin: 23px;
}
li{
    color: yellowgreen;
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
}

.CalculadoraD1{
    display: flex;
    margin: auto;



       
}

.CalculadoraD2{
    margin:  auto;
    
    background-color: #676869;
    box-shadow: 0 0 1rem #5f6061;
    padding: 50px 50px 100px 50px;
    margin-top: 50px;
    width: 180px;

}

.elementos{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.2em 0.5em;
    
}

.tituloC{
    color: rgb(155, 189, 189);
    transition: all 1s;
    cursor: pointer;
}

.tituloC:hover{
    color: aqua;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

.textoResultado{
    color: rgb(217, 235, 235);
}

.logo{
    height: 42px;
    width: 42px;
    border-radius: 100px;
    background-color: rgba(0, 89, 255, 0.781);
    margin: 10px;
    transition: all 5s;
}


#l1:hover{
    background-color: rgb(17, 17, 14);
    -webkit-transform: rotateZ(360deg);
}
#l2:hover{
    background-color: rgb(233, 233, 10);
    -webkit-transform: rotateZ(360deg);
}

#l3:hover{
    background-color: rgb(9, 224, 45);
    -webkit-transform: rotateZ(360deg);
}
#l4:hover{
    background-color: rgb(21, 217, 231);
    -webkit-transform: rotateZ(360deg);
}
